/* .n-wrapper {
    height: 10vh;
    width: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.06);
    justify-content: space-between;
    padding: 0.5rem 2.5rem;
    backdrop-filter: blur(12px);
    position: fixed;
    gap: 0.8rem;

    
  } */
  nav{
    height: 13vh;
    width: 100%;
    display: flex;
    backdrop-filter: blur(4px);
    position: fixed;
    z-index: 3;
    gap: 0.8rem;
    background: rgba(0,0,0,0.2);
  }
  .n-left {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
    padding: 0.5rem 2.5rem;
  }
  .n-name {
    font-family: 'Babylonica', cursive;
    font-size: 3rem;
  }
  .n-right {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    top: -90%;
    left: 145%;
    position: relative;
  }
  /* .n-list {
    top: -40%;
    position: relative;
    cursor: pointer;
    
  } */
  .n-list>*{
    
    cursor: pointer;
  }
  .n-list > ul {
    display: flex;
    position: relative;
    left: 20%;
  }
  li{
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.02s;
    -webkit-transition-timing-function: ease;
  }
  li:hover {
    color: #f43b47;
    border-bottom: 3px solid #f43b47;
  }
  .ct-button{
      position: absolute;
      left: 120%;
      top: 10%;
  }
 .bars{
  transform: scale(1.5);
  /* display: none; */
  border: 0;
  height: 40px;
  width: 40px;
  /* padding: 0.5rem; */
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  /* position: absolute;
  top: 50%;
  right: 25px; */
  /* transform: translateY(-50%); */
  
 }
 .bars:hover{
  color: #f43b47;
 }
 .n-list ul {
  display: flex;
  padding: 0;
}
.n-list li {
  /* // removes default disc bullet for li tags and applies margin to left & right side */
  list-style-type: none;
  margin: 0 1rem;
}
.n-list li a {
  /* // increases the surface area of the anchor tag to span more than just the anchor text */
  text-decoration: none;
  display: block;
  width: 100%;
}
  @media screen and (max-width: 480px) {
    .n-list{
      display: none;
      width: 100%;
    }
    .n-name{
      font-size: 2rem;
    }
    .bars{
      display: block;
    }
  }
  @media screen and (max-width: 768px) {
    .bars {
      display: block;
    }
  .n-list ul {
      display: none;
    }
    nav{
      height: 10vh;
    }
    .n-list ul {
      position: absolute;
      top: 60px;
      left: 0;
      flex-direction: column;
      width: 100%;
      height: calc(100vh - 77px);
      background-color: white;
      border-top: 1px solid black;
    }
    .n-list li {
      text-align: center;
      margin: 0;
    }
    .n-list li a {
      color: black;
      width: 100%;
      padding: 1.5rem 0;
    }
    .n-list li:hover {
      background-color: #eee;
    }
  }