.n-wrapper {
    height: 10vh;
    width: 100%;
   
    display: flex;
    background: rgba(0, 0, 0, 0.06);
    justify-content: space-between;
    padding: 0.5rem 2.5rem;
    backdrop-filter: blur(12px);
    position: fixed;
    gap: 0.8rem;

    
  }
  .n-list>a{
    background: transparent;

  }
  .n-left {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
  }
  .n-name {
    font-family: 'Babylonica', cursive;
/* font-weight: bold; */
    font-size: 3rem;
  }
  .n-right {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 400;
  }
  .n-list {
    transform: translateX(-18%);
    cursor: pointer;
  }
  .n-list > ul {
    gap: 2rem;
    margin-right: 1rem;
    display: flex;
    position: relative;
      left: 20%;
  }
  .n-list > ul > li:hover {
    color: #f43b47;
    border-bottom: 3px solid #f43b47;
  }
  .ct-button{
      position: absolute;
      left: 85%;
  }
  @media screen and (max-width: 480px) {
    .n-list{
      display: none;
      width: 100%;
    }
    .n-name{
      font-size: 2rem;
    }
  }