/* .n-wrapper {
    height: 10vh;
    width: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.06);
    justify-content: space-between;
    padding: 0.5rem 2.5rem;
    backdrop-filter: blur(12px);
    position: fixed;
    gap: 0.8rem;

    
  } */
  nav{
    height: 13vh;
    width: 100%;
    display: flex;
    backdrop-filter: blur(4px);
    position: fixed;
    z-index: 3;
    gap: 0.8rem;
    background: rgba(0,0,0,0.2);
  }
  .n-left {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
    padding: 0.5rem 2.5rem;
  }
  .n-name {
    font-family: 'Babylonica', cursive;
    font-size: 3rem;
  }
  .n-right {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    top: -90%;
    left: 145%;
    position: relative;
  }
  .n-list {
    top: -40%;
    position: relative;
    cursor: pointer;
    
  }
  .n-list > ul {
    display: flex;
    position: relative;
    left: 20%;
  }
  
  li:hover {
    color: #f43b47;
    border-bottom: 3px solid #f43b47;
  }
  .ct-button{
      position: absolute;
      left: 120%;
      top: 10%;
  }
  @media screen and (max-width: 480px) {
    .n-list{
      display: none;
      width: 100%;
    }
    .n-name{
      font-size: 2rem;
    }
  }